.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: var(--font-primary);
}
.title {
    height: 64px;
    padding: 0px 16px 0px 16px;
    color: var(--accent-color);
    font-size: var(--title-font-size);
    display: flex;
    align-items: center;
}
.links {
    display: flex;
}
.links a{
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    padding: 16px;
    text-decoration: none;
    color: var(--font-secondary)
}
.links a:hover{
    transition: all 0.4s ease;
    background-color: var(--accent-color);
    color: var(--font-accent)
}

.navbar-under {
    width: 100%;
    height: 64px;
}



/*The menu for when the screen gets too small*/
.menu-button{
    height: 64px;
    width: fit-content;
    padding: 16px;
    margin: 0px;
    border-radius: 0px;
    background-color: var(--secondary-color);
    color: var(--font-secondary);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: none;
}
.menu-button:hover{
    box-shadow: none;
    background-color: var(--accent-color);
}
.menu-bar {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;
    left: -310px;
    width: 300px;
    bottom: 0px;
    top:64px;
    background-color: var(--primary-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.open{
    left: 0px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.menu-bar a{
    width: 268px;
    height: 64px;
    margin: 0px 16px 0px 16px;
    border-bottom: 2px solid var(--secondary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-primary);
}
.menu-bar a:hover{
    background-color: var(--secondary-color);
    color: var(--font-secondary);
    transition: all 0.4s ease;
}



@media screen and (max-width: 610px){
    .links{
        display: none;
    }
    .navbar{
        justify-content: flex-start;
    }
}
@media screen and (min-width: 610px){
    .menu-button{
        display: none;
    }
}