@import url('https://fonts.googleapis.com/css2?family=Modak&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
:root {
  --primary-color: rgba(214, 98, 181, 1);
  --secondary-color: rgba(67, 84, 172, 1);
  --accent-color: rgba(113, 251, 253, 1);
  --secondary-accent-color: rgb(64, 144, 146);
  --font-primary: #000;
  --font-secondary: #fff;
  --font-accent: #000;
  --the-font: Orbitron, Arial;
  --body-font-size: 16px;
  --header-font-size: 24px;
  --title-font-size: 32px;
}


body {
  font-family: var(--the-font);
  display: flex;
  justify-content: center;
  background-color: #D662B5;
}
h1{
  font-size: var(--title-font-size);
}
h2{
  font-size: var(--header-font-size);
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 16px;
  padding-bottom: 25px;
  background: var(--secondary-color);
  color: var(--font-secondary);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/* Input form */
.form-group {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin: 16px 0px 8px 0px;
}
/* Text boxes */
input {
  border: none;
  width: 418px;
  height: 48px;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16) inset, 0 3px 6px rgba(0,0,0,0.23) inset;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: var(--primary-color);
  color: var(--font-primary);
  font-family: var(--the-font);
  font-size: var(--body-font-size);
  padding: 0px 16px 0px 16px
}
input:focus {
  box-shadow: none;
}



/* Spacing and alignment */
.spacer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.end {
  display: flex;
  justify-content: flex-end;
}



/* Button */
button {
  width: 200px;
  height: 48px;
  margin-top: 16px;
  border: none;
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: var(--primary-color);
  color: var(--font-primary);
  font-family: var(--the-font);
  font-size: var(--body-font-size);
}
button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button:focus {
  box-shadow: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
button:disabled, button[disabled]{
  background-color: var(--secondary-accent-color);
}

.order-button{
  width: 200px;
  height: 48px;
  margin-top: 16px;
  border: none;
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: var(--accent-color);
  color: var(--font-primary);
  font-family: var(--the-font);
  font-size: var(--body-font-size);
}



/* Toggle */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 49px;
  padding-bottom: 5px;
}
.hidden-input {
  display: none;
  
}
.toggle {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.4s;
}
.toggle::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}
.hidden-input:checked + .toggle {
  background-color: #4CAF50; /* Grecoloren  when toggled on */
}
.hidden-input:checked + .toggle::before {
  transform: translateX(30px); /* Moves the knob to the right when toggled on */
}

input[type="checkbox"]{
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  
}
