@import url('https://fonts.googleapis.com/css2?family=Modak&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #560BAD;
  --secondary-color: #7209B7;
  --accent-color: #4CC9F0;
  --font-primary: #fff;
  --font-secondary: #fff;
  --font-accent: #000;
  --the-font: Orbitron, Arial;
  --body-font-size: 16px;
  --header-font-size: 24px;
  --title-font-size: 32px;
}

/* Global styles */
body {
  font-family: var(--the-font);
  font-size: var(--body-font-size);
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

h1 {
  font-size: var(--title-font-size);
  color: var(--accent-color);
}

h2 {
  font-size: var(--header-font-size);
}

/* Common styles */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* form styles */
.form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 75%, 500px);
  border-radius: 16px;
  padding-bottom: 25px;
  background: var(--secondary-color);
  color: var(--font-secondary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

form {
  width: calc(100% - 50px);
}
/* Form input styles */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 16px 0px 8px 0px;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
  border: none;
  width: calc(100% - 32px);
  height: 48px;
  border-radius: 16px;
  padding: 0px 16px 0px 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset, 0 3px 6px rgba(0, 0, 0, 0.23) inset;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background: var(--primary-color);
  color: var(--font-primary);
  font-family: var(--the-font);
  font-size: var(--body-font-size);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
{
  box-shadow: none;
}





.radio-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  margin-top: 16px;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset, 0 3px 6px rgba(0, 0, 0, 0.23) inset;
}

.radio{
  display: none;
}

.radio-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: var(--text-secondary);
  height: 48px;
  width: 100px;
  margin: 8px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  user-select: none;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.radio-button:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.radio:checked + .radio-button {
  background-color: var(--accent-color);
  color: var(--font-accent);
  box-shadow: none;
} 
.show-choices{
  display: block;
}
.hide-choices{
  display: none;
}


/* Spacing and alignment */
.spacer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.end {
  display: flex;
  justify-content: flex-end;
}

/* Button styles */
button {
  width: clamp(120px, calc((2/5 * 100) * 1%), 200px);
  height: 48px;
  margin-top: 16px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: var(--primary-color);
  color: var(--font-primary);
  font-family: var(--the-font);
  font-size: var(--body-font-size);
}

button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:active {
  box-shadow: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
button:disabled, button[disabled]{
  background-color: var(--secondary-accent-color);
}

.order-button{
  width: 200px;
  height: 48px;
  margin-top: 16px;
  border: none;
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: var(--accent-color);
  color: var(--font-primary);
  font-family: var(--the-font);
  font-size: var(--body-font-size);
}

/* Toggle button styles */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 49px;
  padding-bottom: 5px;
}

.hidden-input {
  display: none;
}

.toggle {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.4s;
}

.toggle::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.hidden-input:checked + .toggle {
  background-color: #4CAF50;
}

.hidden-input:checked + .toggle::before {
  transform: translateX(30px);
}

input[type="checkbox"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}



/*Floating Action Button*/
.floating{
  background-color:var(--accent-color);
  color: var(--font-accent);
  position: fixed;
  z-index: 10;
  bottom: 32px;
  right: 32px;
  width: 100px;
}


/*Drone Styling*/
.drone-header{
  display: flex;
  justify-content: space-between;
  width: clamp(332px, calc(75% + 32px), 532px);
  padding-bottom: 16px;
}
.drone-header button{
  background-color: var(--accent-color);
  color: var(--font-accent);
}
.drone-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 75%, 500px);
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
  margin-bottom: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--secondary-color);
  color: var(--font-secondary);
}
.drone-item h2{
  align-self: center;
}
.drone-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


